<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header text-center">
				<h3 class="box-title">Registro de Mercancias Dork's</h3> <i class="icon ion-pricetags icon-mer"></i>
			</div>
			<div class="box-body">
				<form name="reg.mercFrm" ng-controller="registrerCtrl as reg" novalidate>
					<inputs-merc></inputs-merc>
					<images-merc></images-merc>
				</form>
			</div>
		</div>
	</div>
</div>

<div inform class="inform-animate inform-fixed inform-shadow"></div>
