<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header text-center">
				<h3 class="box-title">Registor de Mercancias Dork's</h3> <i class="icon ion-pricetags icon-mer"></i>
			</div>
			<div class="box-body">
				<div class="col-lg-6">
					<form name="mercFrm" ng-controller="regMercCtrl" novalidate>
						<div class="col-md-6 col-md-offset-3"
						     ng-class="{ 'has-error': !mercFrm.des.$pristine && mercFrm.des.$error.required,
					     'has-success': !mercFrm.des.$pristine && mercFrm.des.$valid }">

							<label class="control-label">Descripcion:</label>
							<input type="text" class="form-control" ng-model="merc.name" name="des" required>
						</div>

						<div class="col-md-6 col-md-offset-3"
						     ng-class="{ 'has-error': !mercFrm.brand.$pristine && mercFrm.brand.$error.required,
					     'has-success': !mercFrm.brand.$pristine && mercFrm.brand.$valid }">

							<label class="control-label">Marca:</label>
							<input type="text" class="form-control" ng-model="merc.brand" name="brand" required>
						</div>

						<div class="col-md-6 col-md-offset-3"
						     ng-class="{ 'has-error': !mercFrm.size.$pristine && (mercFrm.size.$error.required || mercFrm.size.$error.number || mercFrm.size.$error.pattern),
					     'has-success': !mercFrm.size.$pristine && mercFrm.size.$valid }">

							<label class="control-label">Talla:</label>
							<input type="number" class="form-control" ng-model="merc.size" min="1" name="size"
							       ng-pattern="numeric" ng-minlength="1" required>
						</div>

						<div class="col-md-6 col-md-offset-3"
						     ng-class="{ 'has-error': !mercFrm.stock.$pristine && (mercFrm.stock.$error.required || mercFrm.stock.$error.number || mercFrm.stock.$error.pattern),
					     'has-success': !mercFrm.stock.$pristine && mercFrm.stock.$valid }">

							<label class="control-label">Cantidad en Existencia:</label>
							<input type="number" class="form-control" ng-model="merc.stock" min="1" name="stock"
							       ng-pattern="numeric" required>
						</div>

						<div class="col-md-6 col-md-offset-3"
						     ng-class="{ 'has-error': !mercFrm.price.$pristine && (mercFrm.price.$error.required || mercFrm.price.$error.number || mercFrm.price.$error.pattern ),
					     'has-success': !mercFrm.price.$pristine && mercFrm.price.$valid }">
							<label class="control-label">Precio:</label>
							<input type="number" class="form-control" ng-model="merc.price" min="1" name="price"
							       ng-pattern="numeric" required>
						</div>

						<div class="clearfix"></div>

						<div class="col-md-6 col-md-offset-3 btn-footer">
							<button class="btn bg-purple btn-flat" ng-click="setMerc(merc)">Guardar</button>
							<button type="reset" class="btn bg-orange btn-flat" ng-click="clear()">Limpiar</button>
						</div>
					</form>
				</div>
				<div class="col-lg-6" ng-controller="fileCtrl">
					<div style="height: 300px;">
						<uib-carousel active="active" interval="5000" no-wrap="false">
							<uib-slide ng-repeat="slide in img track by slide.id" index="slide.id">
								<img ng-src="{{slide.image.$ngfBlobUrl}}" style="margin:auto; max-height: 300px;
								background: black;">
								<div class="carousel-caption">
									<h4>{{slide.text}}</h4>
								</div>
							</uib-slide>
						</uib-carousel>
					</div>

					<div class="images-preview">
						<div class="gallery">
							<div class="drop-box clearImg" ng-show="picD1" ng-mouseleave="hideDelete(1)">
								<span class="btn btn-danger ion-android-delete" ng-click="borrar(0)"></span>
							</div>
							<div ngf-select ng-model="pic1" class="drop-box" ngf-multiple="true" ngf-max-files="3"
							     accept="image/*" ngf-pattern="'image/*'"  ngf-change="cargar($files, $file)">
								<p ng-hide="img1"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
								<div ng-show="img1" ng-mouseover="showDelete(1)">
									<img class="img-preview" ngf-src="img1">
								</div>
							</div>
						</div>

						<div class="gallery">
							<div class="drop-box clearImg" ng-show="picD2" ng-mouseleave="hideDelete(2)">
								<span class="btn btn-danger ion-android-delete" ng-click="borrar(1)"></span>
							</div>
							<div ngf-select ng-model="pic2" class="drop-box" ngf-multiple="true" ngf-max-files="3"
							     accept="image/*" ngf-pattern="'image/*'" ngf-change="cargar($files, $file)">
								<p ng-hide="img2"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
								<div ng-show="img2" ng-mouseover="showDelete(2)">
									<img class="img-preview" ngf-src="img2">
								</div>
							</div>
						</div>

						<div class="gallery">
							<div class="drop-box clearImg" ng-show="picD3" ng-mouseleave="hideDelete(3)">
								<span class="btn btn-danger ion-android-delete" ng-click="borrar(2)"></span>
							</div>
							<div ngf-select ng-model="pic3" class="drop-box" ngf-multiple="true" ngf-max-files="3"
							     accept="image/*" ngf-pattern="'image/*'" ngf-change="cargar($files, $file)">
								<p ng-hide="img3"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
								<div ng-show="img3" ng-mouseover="showDelete(3)">
									<img class="img-preview" ngf-src="img3">
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- /.box -->
			</div>
		</div>
	</div>
</div>

<div inform class="inform-animate inform-fixed inform-shadow"></div>
