<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="info">
				<p>Dorca Hernandez</p>
			</div>
		</div>

		<!-- search form (Optional) -->
		<form method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form -->

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header text-center">Opciones</li>

			<!-- menu vender -->
			<li class="active"><a href="#"><i class="fa fa-shopping-bag"></i> <span>Vender</span></a></li>

			<!-- menu registrar -->
			<li class="treeview">
				<a href=""><i class="fa fa-database"></i> <span>Registrar</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="home.regMercancia"><i class="fa fa-circle-o"></i> Mercancia</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Clientes</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Compras</a></li>
				</ul>
			</li>

			<!-- menu consultar -->
			<li class="treeview">
				<a href=""><i class="fa fa-search"></i> <span>Consultar</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="#"><i class="fa fa-circle-o"></i> Inventario</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Clientes</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Compras</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Ventas</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Apartados</a></li>
				</ul>
			</li>

			<!-- menu generar -->
			<li class="treeview">
				<a href=""><i class="fa fa-file-pdf-o"></i> <span>Generar</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="#"><i class="fa fa-circle-o"></i> Factura</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Control de Pago</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Rep. de Inventario</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Rep. de Compras</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Rep. Ventas</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Rep. Apartados</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> Balance del Mes</a></li>
				</ul>
			</li>

			<!-- menu estadisticas -->
			<li ><a href="#"><i class="fa fa-line-chart"></i> <span>Estadisticas</span></a></li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
