<div class="col-lg-6" ng-controller="fileCtrl as regFile">
	<div style="height: 300px;">
		<uib-carousel active="regFile.active" interval="5000" no-wrap="false">
			<uib-slide ng-repeat="slide in regFile.img track by slide.id" index="slide.id">
				<img ng-src="{{slide.image.$ngfBlobUrl}}" style="margin:auto; max-height: 300px; background: black;">
				<div class="carousel-caption">
					<h4>{{slide.text}}</h4>
				</div>
			</uib-slide>
		</uib-carousel>
	</div>

	<div class="images-preview">
		<div class="gallery">
			<div class="drop-box clearImg" ng-show="regFile.picD1" ng-mouseleave="regFile.hideDelete(1)">
				<span class="btn btn-danger ion-android-delete" ng-click="regFile.borrar(0)"></span>
			</div>
			<div ngf-select ng-model="regFile.pic1" class="drop-box" ngf-multiple="true" ngf-max-files="3"
			     accept="image/*" ngf-pattern="'image/*'"  ngf-change="regFile.cargar($files, $file)">
				<p ng-hide="regFile.img1"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
				<div ng-show="regFile.img1" ng-mouseover="regFile.showDelete(1)">
					<img class="img-preview" ngf-src="regFile.img1">
				</div>
			</div>
		</div>

		<div class="gallery">
			<div class="drop-box clearImg" ng-show="regFile.picD2" ng-mouseleave="regFile.hideDelete(2)">
				<span class="btn btn-danger ion-android-delete" ng-click="regFile.borrar(1)"></span>
			</div>
			<div ngf-select ng-model="regFile.pic2" class="drop-box" ngf-multiple="true" ngf-max-files="3"
			     accept="image/*" ngf-pattern="'image/*'" ngf-change="regFile.cargar($files, $file)">
				<p ng-hide="regFile.img2"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
				<div ng-show="regFile.img2" ng-mouseover="regFile.showDelete(2)">
					<img class="img-preview" ngf-src="regFile.img2">
				</div>
			</div>
		</div>

		<div class="gallery">
			<div class="drop-box clearImg" ng-show="regFile.picD3" ng-mouseleave="regFile.hideDelete(3)">
				<span class="btn btn-danger ion-android-delete" ng-click="regFile.borrar(2)"></span>
			</div>
			<div ngf-select ng-model="regFile.pic3" class="drop-box" ngf-multiple="true" ngf-max-files="3"
			     accept="image/*" ngf-pattern="'image/*'" ngf-change="regFile.cargar($files, $file)">
				<p ng-hide="regFile.img3"><i class="ion-ios-camera-outline ion-camera-size"></i></p>
				<div ng-show="regFile.img3" ng-mouseover="regFile.showDelete(3)">
					<img class="img-preview" ngf-src="regFile.img3">
				</div>
			</div>
		</div>
	</div>
</div>
